In [72]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [73]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
fruits = pd.Series(fruits)

In [49]:
#1 Determine the number of elements in fruits.
fruits.size

17

In [26]:
#2 Output only the index from fruits.
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [27]:
#3 Output only the values from fruits.
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [28]:
#4 Confirm the data type of the values in fruits.
fruits.dtype

dtype('O')

In [50]:
#5 Output only the first five values from fruits. Output the last three values. Output two random values from fruits.
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [52]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [53]:
fruits.sample(2)

3     pineapple
13    blueberry
dtype: object

In [30]:
#6 Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [55]:
#7 Run the code necessary to produce only the unique string values from fruits.
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [34]:
#8 Determine how many times each unique string value occurs in fruits.
fruits.value_counts()

kiwi                4
mango               2
watermelon          1
pineapple           1
blackberry          1
tomato              1
honeycrisp apple    1
papaya              1
honeydew            1
strawberry          1
blueberry           1
gala apple          1
gooseberry          1
dtype: int64

In [57]:
#9 Determine the string value that occurs most frequently in fruits.
fruits.value_counts().head(1)

kiwi    4
dtype: int64

In [60]:
fruits.value_counts().idxmax()

'kiwi'

In [62]:
fruits.value_counts().nlargest(1)

kiwi    4
dtype: int64

In [65]:
#10 Determine the string value that occurs least frequently in fruits.
fruits.value_counts().tail(1)

gooseberry    1
dtype: int64

## Exercise 2

In [211]:
#1 Capitalize all the string values in fruits.
fruits.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

In [86]:
#2 Count the letter "a" in all the string values (use string vectorization).

fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [162]:
#3 Output the number of vowels in each and every string value.
fruits.str.count('[aeiou]')

#vowels = ['a', 'e', 'i', 'o', 'u']
#def count_vowels(string):
#return len([char for char in string if char = vowels])

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [214]:
#4 Write the code to get the longest string value from fruits.
fruits[fruits.str.len().idxmax()]

'honeycrisp apple'

In [179]:
#5 Write the code to get the string values with 5 or more letters in the name.

fruits[fruits.str.len() > 5]

2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [145]:
#6 Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

fruits[fruits.apply(lambda n: n.count('o') > 1)]

6         tomato
15    gooseberry
dtype: object

In [139]:
#7 Write the code to get only the string values containing the substring "berry".

fruits[fruits.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [138]:
#8 Write the code to get only the string values containing the substring "apple".

fruits[fruits.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [222]:
#9 Which string value contains the most vowels?
fruits[fruits.str.count('[aeiou]')]

2          strawberry
2          strawberry
2          strawberry
4          gala apple
4          gala apple
5    honeycrisp apple
3           pineapple
4          gala apple
3           pineapple
2          strawberry
2          strawberry
2          strawberry
2          strawberry
3           pineapple
2          strawberry
4          gala apple
3           pineapple
dtype: object

## Exercises Part III

In [294]:
letters = pd.Series(list("hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy"))

In [295]:
#1 Which letter occurs the most frequently in the letters Series?

letters.value_counts().head(1)

y    13
dtype: int64

In [297]:
#2 Which letter occurs the Least frequently?

letters.value_counts().tail(1)

l    4
dtype: int64

In [227]:
#3 How many vowels are in the Series?

In [228]:
#4 How many consonants are in the Series?

In [229]:
#5 Create a Series that has all of the same letters but uppercased.

In [230]:
#6 Create a bar plot of the frequencies of the 6 most commonly occuring letters.

In [231]:
#New Series

In [232]:
#1 What is the data type of the numbers Series?

In [233]:
#2 How many elements are in the number Series?

In [234]:
#3 Perform the necessary manipulations by accessing Series attributes and methods to convert the numbers Series to a numeric data type.

In [235]:
#4 Run the code to discover the maximum value from the Series.

In [236]:
#5 Run the code to discover the minimum value from the Series.

In [237]:
#6 What is the range of the values in the Series?

In [238]:
#7 Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.

In [239]:
#8 Plot the binned data in a meaningful way. Be sure to include a title and axis labels.

In [240]:
# New Series
exam_scores = [60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78]

In [241]:
#1 How many elements are in the exam_scores Series?

In [242]:
#2 Run the code to discover the minimum, the maximum, the mean, and the median scores for the exam_scores Series.

In [243]:
#3 Plot the Series in a meaningful way and make sure your chart has a title and axis labels.

In [244]:
#4 Write the code necessary to implement a curve for your exam_grades Series and save this as curved_grades. Add the necessary points to the highest grade to make it 100, and add the same number of points to every other score in the Series as well.

In [245]:
#5 Use a method to convert each of the numeric values in the curved_grades Series into a categorical value of letter grades. For example, 86 should be a 'B' and 95 should be an 'A'. Save this as a Series named letter_grades.

In [ ]:
#6 Plot your new categorical letter_grades Series in a meaninful way and include a title and axis labels.